/* overlay */

.overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;

  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  animation: fadeIn ease 0.35s;
}

.overlay.open {
  display: block;
}
