@media (min-width: 1201px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  #baner h1 {
    margin-top: 180px;
  }
  #baner form {
    width: unset;
    justify-content: center;
  }
  #baner input {
    width: 600px;
  }

  #baner button {
    width: 600px;
  }
  #baner h4 {
    padding-left: 15%;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  #grow {
    padding: 80px 0;
  }

  #grow h2 {
    margin-bottom: 36px;
  }

  #grow .video {
    max-width: 100%;
  }

  #about .image {
    width: 345px;
    height: 560px;
  }

  #about .content > p {
    font-size: 22px;
  }

  #price,
  #marketing {
    padding: 60px 0;
  }
}

@media (max-width: 992px) {
  #grow {
    padding: 60px 0;
  }
  #grow h2 {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 22px;
  }

  p.mb-29 {
    margin-bottom: 20px;
  }

  #grow .video img {
    width: 60px;
    height: 60px;
  }

  #about {
    height: 640px;
  }
}

@media (max-width: 768px) {
  #baner {
    height: 700px;
  }
  #baner h1 {
    margin-top: 90px;
    font-size: 40px;
  }

  #baner p {
    font-size: 16px;
    margin: 28px auto 18px;
    width: unset;
  }

  #about {
    height: auto;
  }

  #about .image {
    margin: 36px auto;
    width: 250px;
    height: 400px;
  }

  #about .content > p {
    font-size: 18px;
  }

  #price {
    padding: 40px 0 0px;
  }

  #price .content {
    width: unset;
  }

  #price .item {
    max-width: 540px;
    margin: 0 auto;
    padding: 36px 44px;
  }

  #price .p-decs {
    margin: 0 auto;
    width: 540px;
  }

  #get-started {
    height: 400px;
    padding-top: 56px;
  }

  #get-started h2 {
    font-size: 40px;
  }

  #get-started p {
    font-size: 16px;
    width: unset;
  }

  footer {
    padding: 30px 0;
  }

  footer .footer-nav {
    height: auto;
    flex-direction: column;
    width: unset;
    margin: 20px auto;
  }

  footer .footer-nav a {
    margin: 6px 0;
  }

  footer .copy-right {
    flex-direction: column;
    width: unset;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 340px;
  }

  #get-started {
    height: auto;
    padding: 30px;
  }

  #price .content {
    width: 340px;
  }
  #price .p-decs {
    width: unset;
    height: unset;
    margin: 0 auto 20px;
  }
}
