@media (max-width: 992px) {
  .main-content-item {
    height: unset;
    flex-direction: column;
  }
  .main-content-item .image img {
    width: 100%;
    height: 330px;
  }

  .main-content .info {
    padding: 16px;
  }

  .main-content .info-name {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .main-inner {
    flex-direction: column-reverse;
  }

  .side-title {
    color: var(--primary-color);
    background: #fff;
  }

  .side {
    background: #fff;
  }

  .main .content {
    flex-direction: column-reverse;
  }
}
