header {
  height: 90px;

  position: fixed;
  z-index: 5;

  top: 0;
  left: 0;
  right: 0;
  transition: ease-in-out 0.5s;
}

header.bg-transparent {
  background-color: transparent;
}

header.scroll-top {
  background-color: var(--pri-5-color);
  height: 64px;
}

header.scroll-top .nav-item > a {
  color: #fff;
  text-shadow: none;
  line-height: 64px;
}

header.scroll-top .nav-item.active > a {
  color: var(--pri-2-color);
}

header .bars-icon i {
  color: #fff;
  font-size: 30px;
  display: none;
}

header .bars-icon i:hover {
  color: var(--pri-2-color);
}

header .logo {
  display: flex;
}

header .logo span {
  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--pri-2-color);
}

header .logo img {
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

header .nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  flex-basis: 100%;
  justify-content: center;
}

.nav-list.show {
  transform: scaleY(1);
  opacity: 1;
}

header .nav-item {
  position: relative;
}

.drop-item {
  transition: linear 0.35s;
}

header .nav-item.active > a {
  color: var(--pri-2-color);
}

header .nav-item > a {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0px 16px;

  text-transform: uppercase;
  align-items: center;
  line-height: 90px;
  display: inline-block;

  letter-spacing: 1px;
  transition: linear 0.5s;

  text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
}

header .nav-item > a:hover {
  color: var(--pri-2-color);
}

header .nav-item i {
  margin-left: 6px;
  font-size: 1rem;
  height: 22px;
}

.login .cart {
  position: relative;
  cursor: pointer;
}

.login .cart,
.login .user-icon {
  margin: 0 8px;
  font-size: 1.375rem;
  transition: linear 0.5s;
  color: var(--pri-4-color);
}

.login .user-icon,
.login .cart > i {
  cursor: pointer;
  transition: linear 0.5s;
  color: #fff;
}

.login .cart > i {
  padding: 0 16px;
}

.login .cart:hover .cart-quantity,
.login .cart:hover > i,
.login .user-icon:hover {
  color: var(--pri-2-color);
  border-color: var(--pri-2-color);
}

.user-icon img {
  width: 28px;
  height: 28px;
  display: none;
}

.cart-quantity {
  position: absolute;
  top: -2px;
  right: -9px;
  font-size: 0.75rem;

  font-weight: 700;
  background: #fff;
  color: var(--pri-4-color);
  padding: 1px 4px;
  border-radius: 28%;

  transition: linear 0.5s;
  border: 1px solid var(--pri-4-color);
}

svg.cart-icon {
  font-size: 26px;
}

.bars {
  fill: #fff;
  font-size: 30px;
  display: none;
}
