.radio {
  .radio-top {
    position: relative;
    padding: 4px;

    .radio-top-img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
    .radio-top-live-icon {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    & .card-list-title {
      margin: 0;
    }

    & .card-list-image {
      border-radius: 50%;
    }
  }

  .radio-bottom {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
  }
}
