* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  padding: 32px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main .item {
  width: 50%;
}

.header {
  display: flex;
  padding: 32px 32px 16px;
  justify-content: space-between;
  align-items: center;
}

.header-action button {
  background-color: #277cea;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.container .back {
  background-color: #277cea;
  margin: 0 32px 16px;
  text-transform: uppercase;
}

.item .image {
  width: 70%;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.item .image img {
  width: 100%;
}

.info {
  width: 70%;
  padding-right: 32px;
}

.info .price {
  color: red;
  font-weight: bold;
}

.info .price span {
  text-decoration: line-through;
  color: #707070;
  margin-left: 16px;
  font-weight: 300;
  font-size: 14px;
}
.info .color,
.info .size {
  display: flex;
  margin: 16px 0;
}
.info .color div,
.info .size div {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 20px;
  text-align: center;
}
.info .color .color-yellow,
.info .size .size-small {
  margin: 0 16px;
  border: 1px solid red;
}

.discount {
  border: 1px solid #fee2e2;
  border-radius: 8px;
  margin-bottom: 16px;
}

.discount h3 {
  padding: 8px 16px;
  color: #d70018;
  background-color: #fee2e2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.discount a {
  display: block;
  padding: 8px 16px;
  line-height: 1.5;
  text-decoration: none;
  color: #000;
}

.discount a:hover {
  text-decoration: underline;
}

.discount a span {
  padding: 2px 5px;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;

  margin-right: 8px;
  background-color: #d70018;
  position: relative;
  bottom: 2px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.info a p {
  text-transform: uppercase;
  font-weight: bold;
}

.info a.btn {
  width: 48%;
  background-color: #277cea;
}

.info a.big {
  width: 100%;
  background: linear-gradient(#f52f32, #e11b1e);
  font-size: 18px;
  margin-bottom: 16px;
}

.box.small {
  display: flex;
  justify-content: space-between;
}
