.search {
  .h2-heading {
    padding: 8px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--border-primary);
  }

  .search-title {
    margin: 22px 0;
    font-size: 18px;
    font-weight: 600;
  }
}
