* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #6c757d;
  background-color: #fff;
}

.main-container {
  width: 400px;
  overflow: hidden;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 30px;
}

svg {
  width: 50px;
  display: inline-block;
  margin-right: 15px;
}

.btn-box {
  text-align: center;
}

.btn {
  width: 100px;
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid #6c757d;
  background-color: #6c757d;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.7;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
  text-transform: uppercase;
}
#counter {
  font-size: 80px;
  text-align: center;
  margin-top: 20px;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}
