.new-music {
  .new-music-heading {
    font-size: 40px;
  }

  .new-music-play-icon {
    font-size: 40px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-left: 8px;
  }
}
