.card-list {
  color: #fff;
}

.card-list-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
}

.card-list-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transform: scale(1);

  display: block;
  transition: 0.8s ease;
}

.card-list-image:hover .card-list-image-hover {
  display: flex;
  cursor: pointer;
}
.card-list-image:hover img {
  transform: scale(1.1);
}

.card-list-image-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.card-list-icon.small {
  font-size: 30px;
  padding: 4px;
  border-radius: 50%;
}

.card-list-icon.big {
  font-size: 40px;
}

.card-list-icon.big:hover {
  opacity: 0.8;
}

.card-list-icon.small:hover {
  background-color: #ffffff4d;
}

.card-list-title {
  font-size: 14px;
  margin: 6px 0;
}

.card-list-description {
  color: var(--text-decs-color);
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-list-duration {
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 3;
  background-color: #000000b3;
  font-size: 12px;
  font-weight: 300;
  padding: 3px 5px;
  border-radius: 4px;
}
