/* banner */

.banner {
  height: 400px;
  background: url(../images/home-1-slider.jpg) no-repeat bottom;
  background-size: cover;
}

/* main */

.menu-main {
  padding: 60px 0;
  background-color: var(--pri-01-color);
  overflow: hidden;
}

.menu-main .h2-heading {
}

/* filter */

.filter {
  border-radius: 4px;
}

.filter .title {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--pri-5-color);
  color: #fff;

  text-transform: uppercase;
  padding: 10px 12px;
  letter-spacing: 0px;
}

.filter .title:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.filter-content {
  padding: 10px 12px;
  background-color: #fff;
}

.filter-item {
  padding: 2px 0;
  color: var(--primary-color);
}

.filter-item.active .filter-icon,
.filter-item.active .filter-name {
  color: var(--pri-5-color);
  font-weight: 600;
}

.filter-icon i {
  font-size: 1.125rem;
  width: 32px;
  text-align: center;
}

.filter-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.filter-name:hover {
  color: var(--pri-5-color);
  cursor: pointer;
}

.filter-content-2 {
  padding: 10px 16px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-content-2 .item {
  font-size: 16px;
  margin: 8px 0;
  color: var(--primary-color);
  font-weight: 500;
}

.filter-content-2 .item label {
  margin-left: 4px;
}

.filter-search {
  border: none;
  outline: none;
  padding: 4px 8px;
  border-radius: 2px;

  background-color: #fff;
  border: 1px solid var(--pri-5-color);
  max-width: 100%;
}

.filter-bestseller {
  padding: 16px;
  background: #fff;
}

.filter-bestseller .card {
}

.filter-bestseller .item {
  cursor: pointer;
  margin: 16px 0;
}

.filter-bestseller .item img {
  width: 68px;
  height: 68px;
  box-shadow: 0 2px 8px 0px rgb(0 0 0 / 25%);
}

.filter-item-info {
  margin-left: 12px;
}

.filter-item-info .card-name {
  font-size: 14px;
}

.filter-item-info .price {
  font-size: 14px;
}

/* card */

.item-quantity-bar {
  padding: 12px;
  background-color: #fff;
  text-align: center;
  font-size: 1.125rem;

  color: var(--pri-4-color);
  font-weight: 500;
  border-radius: 4px;
}

.menu-card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 24px;
}

.menu-card .image {
  height: 260px;
  background: url(../images/cf-11.jpg) no-repeat center;
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menu-card .content {
  padding: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: linear-gradient(90deg, var(--pri-2-color), var(--pri-1-color));
}

.card-item-info .card-name {
  font-size: 14rem;
}

.card-item-info .price-after {
  font-size: 1rem;
  margin-right: 8px;
}

.card-item-info .price-before {
  font-size: 0.875rem;
}

.card-add-btn i {
  font-size: 2.5rem;
  cursor: pointer;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
  color: var(--pri-4-color);
}
